body {
    font-family: Arial, sans-serif;
    background-color: #f6f4e4;
  }

  /* Navigation */

  .navbar-custom {
    background-color: #3f556a; /* Dark background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Shadow for navbar */
  }
  .navbar-custom .navbar-brand {
    color: #ffffff; /* White text color */
  }
  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff; /* White text color */
    transition: 0.3s; /* Smooth transition for hover effects */
  }
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #ffffff; /* White text color on hover */
  }
  .navbar-custom .nav-item.active .nav-link {
    font-weight: bold; /* Bold font for active menu item */
  }
  

  /* greeting button styling */

  .stylish-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px; 
    background: linear-gradient(45deg, #6fcacc, #366b3a); 
    box-shadow: 0 4px 8px rgba(100, 98, 98, 0.572); /* Shadow effect */
    transition: background 0.3s, transform 0.3s; /* Smooth transitions */
  }

  .stylish-button:hover,
  .stylish-button:focus {
    background: linear-gradient(45deg, #6fcacc, #366b3a);  
    box-shadow: 0 4px 8px rgba(186, 185, 185, 0.572); /* Shadow effect */
    transform: scale(1.05); /* Slight zoom effect on hover */
    outline: none; /* Remove default outline */
  }
  
  /* Landing Hero */


  .jumbotron {
    position: relative;
    background-image: url('Assets/heroImage.jpg');
    height: 900px;
    background-size: cover;
    background: contain;
    color: #ffffff;
    text-align: left;
    padding: 150px 25px;
    margin-bottom: 0;
  }
  .jumbotron-text {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
  }
  .features {
    padding: 80px 0;
  }
  .feature-box {
    text-align: center;
  }
  .testimonial {
    background-color: #e9ecef;
    padding: 80px 0;
  }


  /* Landing main content */

  .section {
    padding: 60px 0;
    background-color: #f8f9fa; /* Light background color */
  }
  .column-separator {
    border-left: 10px solid #0e4780; /* Stylish vertical line */
    height: 100%; /* Full height */
    margin: 0 20px; /* Space between columns */
  }
  .column-content {
    padding: 20px;
  }
  @media (max-width: 768px) {
    .column-separator {
      display: none; /* Hide separator on smaller screens */
    }
  }


  /* Footer */

 
footer{
  background-color: #3f556a;
  margin-bottom: 0;
}
.footer-heading {
  font-size: 1.1rem; /* Adjust font size as needed */
  font-weight: bold;
  color: #979da2; /* Dark text color */
  margin-bottom: 10px; /* Space below the heading */
}

#socialIconList {
  margin: 100px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}